{% load static %}
{% extends 'base.html' %}

{% block title %}Obcast{% endblock %}
{% block ogtitle %}Obcast: nossas reflexões em alto e bom som{% endblock %}
{% block description %}O Obcast é o podcast do blog Observâncias. Reúno aqui minhas reflexões, todas em áudio, para os amantes de podcast.{% endblock %}
{% block ogdescription %}O Obcast é o podcast do blog Observâncias. Reúno aqui minhas reflexões, todas em áudio, para os amantes de podcast.{% endblock %}
{% block image %}{% static 'img/obcast.jgep' %}{% endblock %}
{% block content %}
    <h1>Testando<h1>
{% endblock%}